.catalog-container{
    margin-top: 25px;
    padding-left: 40px;
    padding-right: 40px;
}

.catalog-title{
    font-size: 22px;
    line-height: 33px;
    letter-spacing: -0.015em;
    color: #263238;
}

.catalog-products{
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    grid-gap: 30px 10px;
    justify-content: space-evenly;
    
}