.product-card{
    width: 245px;
    padding: 20px;
}

.product-info{
    font-size: 18px;
    font-weight: bold;
    line-height: 25px;
    letter-spacing: -0.015em;
    color: #263238;
}

.product-img{
    text-align: center;
}
